In [1]:
import pickle
import pandas as pd
import numpy as np
import tqdm

## 콘텐츠 기반 추천을 위한 데이터셋을 만듭니다.

- 어느 정도 평가 빈도가 있는 영화 데이터를 고릅니다.

- 사용자가 이전에 평가한 영화를 구하고, 이전에 movieId를 이용하여 현재 movieId를 구하는 Task로 사용합니다.

- 가장 마지막의 3000건의 데이터만 남겨서 추천 결과를 평가하는데 사용합니다.

In [2]:
# movielens32 평점을 불러옵니다.
df_ratings = pd.read_parquet('dataset/ratings.parquet')
# 일자를 timestamp 형식(Integer)에서 일자형식으로 바꿉니다.
df_ratings['date'] = df_ratings.pop('timestamp').pipe(lambda x: pd.to_datetime(x, unit='s'))
# 평점수, 영화수, 사용자수
s_movieId =  df_ratings['movieId'].unique()
len(df_ratings), df_ratings['movieId'].nunique(), df_ratings['userId'].nunique()

(32000204, 84432, 200948)

In [3]:
display(df_ratings.head())
df_ratings.info()

/usr/local/lib/python3.12/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

   userId  movieId  rating                date
0       1       17     4.0 1999-12-03 19:24:37
1       1       25     1.0 1999-12-03 19:43:48
2       1       29     2.0 1999-11-22 00:36:16
3       1       30     5.0 1999-12-03 19:24:37
4       1       32     5.0 1999-11-22 00:00:58

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000204 entries, 0 to 32000203
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float16
 3   date     datetime64[ns]
dtypes: datetime64[ns](1), float16(1), int64(2)
memory usage: 793.5 MB

In [4]:
# 평가 횟수가 1000건 이상인 영화 데이터만 남깁니다.
movie_id_1000 = df_ratings['movieId'].value_counts(normalize = False).pipe(lambda x: x.loc[x >= 1000]).index
df_ratings = df_ratings.loc[df_ratings['movieId'].isin(movie_id_1000)].sort_values(['userId', 'date'])

In [5]:
# 바로 이전에 평가 내역을 prev_movieId에 넣습니다.
df_ratings['prev_movieId'] = df_ratings['movieId'].shift(1)
df_ratings['prev_movieId'] = df_ratings['prev_movieId'].fillna(0).astype('int')
# 현 시점의 사용자와 이전에 시청한 이력의 사용자가 다를 경우에는 이전 시청 이력이 없는 것입니다.
# 이전 시청이 있는 것만 남깁니다.
df_ratings = df_ratings.loc[df_ratings['userId'] == df_ratings['userId'].shift(1)]
df_ratings.shape

(28327312, 5)

In [6]:
# date로 내림차순 정렬을 하여 최근 3000 건만 남깁니다.
# 이를 추천 로직의 평점 데이터로 사용합니다.
df_ratings_3000 = df_ratings.sort_values('date', ascending = False).iloc[:3000][['prev_movieId', 'movieId']]
df_ratings_3000

          prev_movieId  movieId
8663606         112818   104457
8663629          82667   112818
29853809          3107     4901
10532451         40278    33162
31923114             6     6711
...                ...      ...
7165373         106782    91529
7165375          99114   106782
31564556          5989   168252
31564518        135133     5989
31564550         66097   135133

[3000 rows x 2 columns]

### 평가 로직

이전에 시청한 영화를 추천 로직에 전달하면,

추천 로직은 10개의 콘텐츠를 추천합니다. 

현재 시청한 영화가 10개의 목록에 있으면 Hit입니다.

Hit Ratio를 구합니다.

In [7]:
# 추천 결과에 대한 평가 로직입니다.
def evaluate(df_eval, rcmd_func):
    """
    평가 데이터와 추천 로직을 입력 받아 추천 지표 (Hit ratio)를 계산합니다.
    Parameters:
        df_evel: pd.DataFrame
            평가 데이터프레임: prev_movieId / movieId / date 형태로 되어 있습니다.
        rcmd_func: function
            추천 로직 callback, prev_movieId를 전달하면 이에 따른  10개의 movie_id를 가진 리스트를 반환해줍니다.
    Returns:
        Hit ratio
    """
    result = list()
    # prev_movieId를 rcmd_func의 인자로 전달하고 rcmd_func
    # rcmd_func가 반환한 리스트  item id가 있으면 True(Hit)로 기록합니다.
    for x in tqdm.tqdm(df_eval[['prev_movieId', 'movieId']].values):
        result.append( x[1] in set(rcmd_func(x[0])[:10])) # 10개까지 만을 체크합니다.
    return np.mean(result) # True(Hit)인 비율, 즉 Hit Ratio를 반환합니다.

**가장 간단한 콘텐츠 추천 베이스라인**

- 등장한 movieId  중에서 10개의 movieId를 임의 뽑습니다.

In [8]:
# 전체 데이터에서 등장한 영화(약 8만 5천개)에서 랜덤으로 10개 뽑습니다.
def random_rcmd(prev_movieId):
    return np.random.choice(s_movieId, 10, replace = False)
evaluate(df_ratings_3000, random_rcmd)

100%|██████████████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:03<00:00, 824.52it/s]

np.float64(0.0003333333333333333)

# 콘텐츠 기반 추천 (Contents Based Recommendation) 

아이템 내용(컨텐츠)를 기반으로 사용자가 선호도를 가지고 있는 아이템과 유사한 컨텐츠를 추천해주는 추천 기법입니다.

## Resource

본 과정의 Docker 파일에는 Oracle DB와 Qdrant DB가 설치 되어 있습니다.

아래 스크립트를 사용하면 구동 시킬 수 있습니다.
```
docker compose up -d
```

###  Oracle DB

MovieLens 32m 의 영화 정보들이 들어 있습니다.

**Movie 테이블**

|필드|내용|
|----|----|
|movie_id|영화 ID|
|movie_title|영화제목|
|original_language|제작 언어|
|original_title|원제|
|poster_path|포스터 이미지 URL|
|overview|줄거리|
|series_id|시리즈 ID|
|release_date|개봉일|
|runtime|상영시간|
|tagline|주제|
|imdb_id|IMDB ID|
|adult|성인 전용 여부|
|useyn|사용 여부|
|regtime|등록 시간|

**Series 테이블**

|필드|내용|
|----|----|
|series_id|시리즈 아이디|
|series_title|시리즈 제목|
|useyn|사용 여부|
|regtime|등록 시간|

In [9]:
from sqlalchemy import create_engine, text, bindparam
import cx_Oracle

# Oracle 접속 정보 설정
DATABASE_URL = "oracle+cx_oracle://rcmd:rcmd_multi@oracle-db:1521/?service_name=XEPDB1"
engine = create_engine(DATABASE_URL)

# Oracle에 qry 수행 결과를 가져옵니다,
def get_rows(sql, params = {}):
    with engine.connect() as conn:
        bind_params = list()
        for k, v in params.items():
            if type(v) == list:
                bind_params.append(bindparam(k, expanding=True))
        t = text(sql)
        if len(bind_params) > 0:
            t = t.bindparams(*bind_params)
        result = conn.execute(t, params)
        
        df = pd.DataFrame(result.fetchall(), columns = result.keys())
        if len(df) == 1:
            return df.T.rename(columns = {0: 'value'})
        else:
            return df

In [10]:
# 테이블 내용 확인과 DB 테스트를 위해, DB에서 데이터를 하나 가져옵니다.
# movie 테이블에서 movie_id가 1인 인스턴스를 가져옵니다.
s = get_rows("SELECT * FROM movie WHERE movie_id = :movie_id", {'movie_id': 1}) # movie_id 1 Toy Story
s

                                                               value
movie_id                                                           1
movie_title                                                   토이 스토리
original_language                                                 en
original_title                                             Toy Story
poster_path                         /5ELwzkC7QY9vug20AvRFOXBzLbG.jpg
overview           카우보이 인형 우디는 꼬마 주인인 앤디의 가장 사랑받는 장난감이다. 그러나 어느날 ...
series_id                                                          1
release_date                                     1995-10-30 00:00:00
runtime                                                           81
tagline                                               장난감과 좋은 친구가 되자
imdb_id                                                    tt0114709
adult                                                              N
useyn                                                              Y
regtime                                                         None

In [11]:
def get_movies(movie_ids):
    """
    movie_ids에 해당하는 영화르 DB에서 가져옵니다.
    """
    return get_rows("SELECT * FROM movie WHERE movie_id in :movie_ids", {'movie_ids': movie_ids})
get_movies([1, 2, 3])

,movie_id,movie_title,original_language,original_title,poster_path,overview,series_id,release_date,runtime,tagline,imdb_id,adult,useyn,regtime
0,1,토이 스토리,en,Toy Story,/5ELwzkC7QY9vug20AvRFOXBzLbG.jpg,카우보이 인형 우디는 꼬마 주인인 앤디의 가장 사랑받는 장난감이다. 그러나 어느날 ...,1,1995-10-30,81,장난감과 좋은 친구가 되자,tt0114709,N,Y,None
1,2,쥬만지,en,Jumanji,/jjJohGbwz9kRaf490dZ158vbHho.jpg,1969년 공장을 운영하는 아버지 밑에서 유복하지만 엄격하게 자라는 열두 살짜리 소...,2,1995-12-15,104,None,tt0113497,N,Y,None
2,3,그럼피어 올드 맨,en,Grumpier Old Men,/1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg,"미네소타의 와바샤에도 여름이 찾아왔다. 얼음은 녹아내리고, 더 이상은 얼음낚시도 할...",3,1995-12-22,101,None,tt0113228,N,Y,None

## Task 1

### 콘텐츠의 소속 그룹에서의 추천

영화에는 영화가 속한 시리즈 정보가 있습니다. 

**series_id**: Star Wars, Avengers와 같은 영화가 속한 series의 ID입니다. 아무 series에도 속하지 않은 영화는 0 입니다.

In [12]:
s = get_rows("SELECT * FROM movie WHERE movie_id = :movie_id", {'movie_id': 1}) # movie_id 1 Toy Story
s

                                                               value
movie_id                                                           1
movie_title                                                   토이 스토리
original_language                                                 en
original_title                                             Toy Story
poster_path                         /5ELwzkC7QY9vug20AvRFOXBzLbG.jpg
overview           카우보이 인형 우디는 꼬마 주인인 앤디의 가장 사랑받는 장난감이다. 그러나 어느날 ...
series_id                                                          1
release_date                                     1995-10-30 00:00:00
runtime                                                           81
tagline                                               장난감과 좋은 친구가 되자
imdb_id                                                    tt0114709
adult                                                              N
useyn                                                              Y
regtime                                                         None

- movieId 1번 토이 스토리는 series_id가 1번 입니다.

- series_id 1 번의 정보를 series 테이블에서 가져옵니다.

In [13]:
s = get_rows("SELECT * FROM series WHERE series_id = :series_id", {'series_id': 1})
s

                            value
series_id                       1
series_title           토이 스토리 시리즈
useyn                           Y
regtime       2025-06-15 14:57:31

**가정** 사용자는 series 중에서 하나를 평가 했다면 동일 series의 다른 영화도 볼 가능성이 높다.

이를 이용하여 이전 시청한 영화가 series에 속한다면, 다음에 평가한 영화도 동일 series에 해당할 가능성이 높다

In [14]:
# movie_id 1이 토이 스토리가 속한 series인 1번 series의 다른 영화들을 가져옵니다.
s = get_rows(
    "SELECT * FROM movie WHERE series_id = :series_id", {'series_id': 1}
)
s

,movie_id,movie_title,original_language,original_title,poster_path,overview,series_id,release_date,runtime,tagline,imdb_id,adult,useyn,regtime
0,1,토이 스토리,en,Toy Story,/5ELwzkC7QY9vug20AvRFOXBzLbG.jpg,카우보이 인형 우디는 꼬마 주인인 앤디의 가장 사랑받는 장난감이다. 그러나 어느날 ...,1,1995-10-30,81,장난감과 좋은 친구가 되자,tt0114709,N,Y,None
1,3114,토이 스토리 2,en,Toy Story 2,/gXUNsdIIn6NiEBvh8Mq6gjgVPm0.jpg,앤디가 카우보이 캠프에 간 동안 앤디의 어머니는 벼룩 시장을 열고 앤디의 장난감 중...,1,1999-10-30,94,무한한 도전과 꿈의 세계로,tt0120363,N,Y,None
2,78499,토이 스토리 3,en,Toy Story 3,/hbUWahBLUon8RaIb9Tq7aWCBCtS.jpg,모든 장난감들이 겪는 가장 슬픈 일은 바로 주인이 성장해 더이상 자신들과 놀아주지 ...,1,2010-06-16,102,전세계가 감동한 가장 위대한 탈출,tt0435761,N,Y,None
3,201588,토이 스토리 4,en,Toy Story 4,/9P8IX4UyH3QFLL4MV6GZyuOB7Ue.jpg,앤디와 작별한 우디는 새로운 주인 보니와의 생활에 적응 중이다. 보니는 처음 간 유...,1,2019-06-19,100,우리의 여행은 아직 끝나지 않았다,tt1979376,N,Y,None

In [15]:
def series_rcmd(movieId):
    """
    movieId에 대한 동일 시리지 영화를 10개 추천합니다. 
    10개 미만일 경우 임의의 영화를 추천합니다.
    """
    movieId = int(movieId)
    # 현재 영화의 series_id를 가져옵니다.
    s = get_rows("SELECT series_id FROM movie WHERE movie_id = :movie_id" , {'movie_id': movieId})    
    if len(s) == 0:
        # DB에 등록되지 않은 movieId는 임의의 영화를 10개 추천합니다.
        return np.random.choice(s_movieId, 10)
    series_id = int(s.loc['series_id'].iloc[0])
    if series_id > 0:
        # 동일 시리즈의 다른 영화들을 가져옵니다.
        series_list = get_rows(
            "SELECT * FROM movie WHERE movie_id <> :movie_id AND series_id = :series_id", {'movie_id': movieId, 'series_id': series_id}
        )
        if series_list.shape[1] == 14:
            series_list = series_list['movie_id'].tolist() # 영화가 2개 이상일 때
        elif series_list.shape[1] == 1:
            series_list = [series_list.loc['movie_id'].iloc[0]] # 영화가 1개 일 때
        else:
            series_list = list() # 없을 때
    else:
        series_list = list()
    # 10개가 안 될 경우 임의의 영화를 추천합니다.
    return (series_list + np.random.choice(s_movieId, 10 - len(series_list)).tolist())[:10] if len(series_list) < 10 else series_list[:10]

In [16]:
# movie_id 가 1인 추천 목록가져 오기
series_rcmd(1)

[3114, 78499, 201588, 98601, 48043, 3511, 33826, 166651, 100328, 86858]

In [17]:
evaluate(df_ratings_3000, series_rcmd)

100%|██████████████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:16<00:00, 187.45it/s]

np.float64(0.061)

### Qdrant DB: Vector DB

Vector DB는 벡터를 저장하고 탐색하기에 최적화된 DB 입니다.

Vector DB의 거리 탐색기능을 이용해보니다.

**movie_emb_kr** 컬렉션

MovieLens 32m 영화의 줄거리(Overview)와 Series 정보의 임베딩 벡터가 들어 있습니다.


벡터화된 줄거리를 이용하여, 근거리에 있는 영화를 추천하는 컨텐츠의 유사도 기반 추천을 합니다.

In [18]:
from qdrant_client import QdrantClient
from qdrant_client.models import Distance, VectorParams, PointStruct

# Qdrant Vector DB에 접근하기 위한 Client 입니다.
client = QdrantClient(host="qdrant", port=6333)

In [19]:
# movie_id: 토이 스토리의 벡터를 가져 옵니다.
response = client.retrieve(
    collection_name="movie_emb_kr",
    with_vectors = True,
    ids=[1]   # 리스트 형태로 ID 전달
)
response[0].vector

[-0.013183296,
 -0.041713532,
 -0.013787556,
 -0.032279257,
 -0.012585531,
 -0.012273654,
 0.010948177,
 -0.002309838,
 -0.014528264,
 -0.021467526,
 0.01223467,
 -0.0064259632,
 0.020259002,
 0.004278561,
 0.003930948,
 0.007933368,
 0.014853136,
 -0.01175386,
 0.018283783,
 -0.014216388,
 -0.028302826,
 0.009837116,
 -0.034644324,
 -0.022572089,
 0.03183743,
 -0.019063475,
 0.027549123,
 -0.02489817,
 0.026080703,
 -0.006770327,
 0.007368091,
 -0.0054968297,
 -0.006565658,
 -0.015022069,
 -0.015074049,
 -0.031733472,
 0.011545942,
 -0.018816572,
 0.01606166,
 -0.00028629322,
 0.014086439,
 0.021792397,
 -0.021688437,
 -0.01846571,
 -0.009128896,
 0.0020077075,
 0.020129053,
 -0.013904511,
 0.01046087,
 0.0018647638,
 0.0030895304,
 0.025547914,
 -0.028276836,
 -0.01296888,
 0.01633455,
 -0.010278942,
 -0.015100039,
 0.024937155,
 0.008875496,
 -0.017802972,
 -0.0013668978,
 0.008050322,
 -0.011942285,
 -0.001072889,
 -0.014801157,
 0.0009803005,
 -0.0016341049,
 0.002884861,
 -0.002282224,
 -0.00944727,
 0.03389062,
 0.0111431,
 0.017322162,
 0.018946521,
 0.044442456,
 -0.014021465,
 -0.016243586,
 0.019388346,
 -0.006201802,
 0.016347546,
 -0.012624516,
 -0.010681783,
 0.003427397,
 0.018114848,
 0.012202183,
 0.02804293,
 -0.002743542,
 0.033526763,
 -0.02689938,
 0.01352766,
 -0.011539444,
 0.001770551,
 0.019947125,
 0.010681783,
 0.0060523604,
 0.019817177,
 -0.033604734,
 0.014710193,
 -0.008173773,
 -0.04272713,
 0.00820626,
 0.01740013,
 -0.0139305005,
 -0.0061888066,
 -0.020323977,
 -0.0067768246,
 0.023585688,
 -0.008680573,
 0.028354805,
 0.009739655,
 -0.024768222,
 -0.002350447,
 0.021779401,
 -0.025327,
 -0.0045254636,
 -0.0054351045,
 0.0056755096,
 0.031733472,
 -0.023611678,
 -0.023546703,
 0.01598369,
 0.027445165,
 0.027419176,
 -0.024404366,
 0.011383506,
 0.011623911,
 0.0047366302,
 -0.014905116,
 -0.008602603,
 -0.012013757,
 0.011117111,
 0.020427935,
 0.015216992,
 -0.0040673944,
 -0.028276836,
 0.011149598,
 -0.01395649,
 0.030070128,
 -0.017439116,
 -0.017712008,
 0.023832591,
 0.0225461,
 -0.0071796654,
 -0.0011874062,
 -0.020739812,
 0.017192213,
 0.033552755,
 0.019011494,
 -0.007712455,
 0.013410705,
 0.025171062,
 0.02059687,
 -0.0049997764,
 0.007653978,
 0.007939866,
 0.029212467,
 -0.0008544127,
 -0.006312258,
 -0.03490422,
 -0.0055455607,
 0.010876706,
 0.010415388,
 0.019258397,
 -0.0049477965,
 0.0047171377,
 0.021649454,
 0.0088365115,
 -0.012871418,
 0.0008706563,
 -0.007868393,
 0.019830171,
 0.011987767,
 -0.020271996,
 0.033292856,
 -0.0042948043,
 0.005029015,
 0.003133388,
 0.013995475,
 -0.03194139,
 -0.009427778,
 -0.0017218202,
 -0.017945915,
 0.0019037484,
 0.017750992,
 -0.010343917,
 -0.014710193,
 0.014567249,
 -0.006309009,
 0.04095983,
 -0.011422491,
 -0.010876706,
 0.035709903,
 0.006841799,
 -0.028510744,
 -0.64704055,
 -0.043246925,
 0.0044929762,
 -0.030485965,
 0.01608765,
 0.013800552,
 0.0002720801,
 0.017776981,
 -0.04005019,
 -0.011045639,
 -0.023715638,
 0.031239666,
 0.042623173,
 -0.016152624,
 -0.006659871,
 -0.0018810075,
 0.030641902,
 -0.026327606,
 -0.0031756214,
 0.0075825066,
 -0.019245403,
 0.04361078,
 0.008193266,
 -0.014294357,
 0.004899066,
 -0.0043532816,
 0.028380796,
 -0.008199763,
 -0.0130468495,
 0.012734972,
 0.009206865,
 0.009330316,
 0.021883361,
 -0.0032568392,
 0.04789909,
 0.018218808,
 -0.008804024,
 0.03295499,
 0.018582664,
 0.015580849,
 -0.007439563,
 -0.009291332,
 0.0078099165,
 -0.023676652,
 -0.014190398,
 0.008589609,
 0.009889096,
 0.009876101,
 0.007153676,
 -0.024508324,
 0.00998006,
 -0.033994578,
 0.007114691,
 0.0005543124,
 0.011903301,
 0.022754017,
 0.026288621,
 -0.0075045372,
 -0.00050152076,
 -0.016360542,
 0.0011671018,
 -0.00062740856,
 -0.0112860445,
 0.024287412,
 -0.013345731,
 0.062531315,
 -0.008082809,
 -0.013124819,
 0.0109416805,
 -0.028068919,
 0.0020207022,
 0.028120898,
 -0.028588714,
 0.009336814,
 -0.0031821188,
 0.025223043,
 0.029550334,
 0.024079494,
 -0.010032039,
 0.005574799,
 0.03602178,
 0.016607443,
 -0.029290436,
 -0.021883361,
 0.018738601,
 -0.011617414,
 0.029498354,
 0.025275022,
 0.010909193,
 0.0027484149,
 -0.0031138957,
 0.027315216,
 -0.025314007,
 -0.020778798,
 -0.009239352,
 -0.012514059,
 0.00035532846,
 0.01147447,
 -0.0073745884,
 -0.041739523,
 -0.019011494,
 -0.01902449,
 -0.013332737,
 0.0033559252,
 -0.023715638,
 -0.008271235,
 0.020051084,
 0.015113033,
 0.033578742,
 -0.005487084,
 0.006026371,
 -0.008817019,
 0.0018550176,
 -0.005896422,
 -0.016646428,
 -0.02049291,
 0.029654292,
 0.0030131855,
 0.024807207,
 0.0004718762,
 -0.016243586,
 -0.008576614,
 0.011708378,
 0.0005084243,
 0.010084019,
 0.021779401,
 0.021129658,
 -0.009453768,
 -0.020375956,
 0.012033249,
 0.02049291,
 -0.008953465,
 -0.011065132,
 -0.00438252,
 0.0004759371,
 0.018101854,
 0.008843008,
 -0.0143723255,
 0.032565143,
 -0.0075110346,
 -0.012644009,
 0.018283783,
 -0.003762015,
 0.022299197,
 -0.023572695,
 -0.00486333,
 -0.0046619093,
 -0.014567249,
 -0.018595658,
 -0.0024755227,
 -0.042493224,
 0.011695383,
 0.019102458,
 0.009590214,
 0.008453162,
 0.0006265964,
 -0.02391056,
 -0.024131473,
 0.023247821,
 0.0069457577,
 0.00658515,
 0.009258845,
 0.0051264763,
 0.016451506,
 -0.011649901,
 -0.015554859,
 -0.012676495,
 0.007153676,
 -0.013020859,
 -0.03282504,
 0.005311653,
 -0.01649049,
 -0.025223043,
 0.024092488,
 0.010896198,
 0.026561514,
 -0.012955885,
 -0.001385578,
 0.022013308,
 -0.0072706295,
 -0.024092488,
 0.025093094,
 -0.011097618,
 0.0068677887,
 0.022312192,
 -0.000507206,
 0.025417965,
 0.0027906483,
 -0.016789371,
 0.014606234,
 -0.004116125,
 0.021831382,
 0.0058834273,
 -0.015996685,
 -0.028172879,
 -0.0042168354,
 0.017750992,
 0.019245403,
 0.036047768,
 0.023546703,
 0.03194139,
 0.014203393,
 0.0068612914,
 -0.015567854,
 0.011968275,
 -0.028094908,
 0.007842404,
 -0.01122107,
 0.008602603,
 0.022156253,
 0.02510609,
 -0.024001524,
 -0.002214001,
 -0.0042948043,
 0.030745862,
 0.009291332,
 -0.019700222,
 0.0071601733,
 -0.04072592,
 0.009759148,
 0.0064649475,
 -0.010837722,
 0.010493358,
 -0.0067508346,
 -0.03817893,
 0.011734367,
 0.022624068,
 -0.013254767,
 -0.013605629,
 -0.03363072,
 -0.012533552,
 0.004564448,
 -0.0005798961,
 0.022793002,
 -0.019661238,
 -0.013657608,
 0.012384111,
 -0.014034459,
 0.01988215,
 0.00927184,
 0.0069912397,
 0.025508929,
 0.03589183,
 0.0014286235,
 -0.00410313,
 0.0055845454,
 0.010512849,
 0.01755607,
 -0.028666683,
 -0.010902695,
 -0.03490422,
 -0.011428988,
 -0.0200121,
 0.02241615,
 0.010733763,
 -0.011688885,
 0.0037912533,
 -0.023299802,
 0.031317636,
 0.023845587,
 -0.0011021274,
 -0.008362198,
 0.0031577533,
 0.021064684,
 0.0023796856,
 0.0032405956,
 -0.0035833353,
 -0.012384111,
 0.005483835,
 0.0007662912,
 0.00067898195,
 0.0062342887,
 -0.003120393,
 -0.010805234,
 0.002766283,
 -0.008368696,
 -0.0045676967,
 -0.0058152042,
 -0.0044767326,
 -0.0005392871,
 -0.023611678,
 -0.027731052,
 -0.009070419,
 0.018322766,
 0.00021766407,
 -0.0027402933,
 -0.023494724,
 -0.007803419,
 -0.0032470932,
 0.021727422,
 -0.006136827,
 0.012325634,
 0.011182086,
 -0.0030667894,
 0.012046244,
 -0.00019187738,
 0.0033331842,
 -0.018686622,
 0.010519347,
 -0.0020142049,
 -0.0009673056,
 -0.012124213,
 0.008849506,
 -0.034488384,
 0.011714875,
 -0.006114086,
 -0.008134789,
 -0.024534315,
 -0.011247059,
 0.002309838,
 -0.006828804,
 -0.028380796,
 -0.0074070757,
 -0.032565143,
 -0.016750388,
 -0.010097014,
 -0.005071248,
 0.006091345,
 0.02044093,
 0.002395929,
 0.008791029,
 -0.011435485,
 -0.007368091,
 0.023130868,
 0.103387184,
 0.0019557278,
 0.00820626,
 0.018660633,
 -0.032539155,
 -0.0049737864,
 -0.0298882,
 0.0067768246,
 0.012442588,
 0.013709588,
 -0.0131703,
 -0.005487084,
 0.050264157,
 0.005220689,
 0.008076312,
 0.010844219,
 -0.0089859525,
 -4.446682e-05,
 0.012143706,
 -0.023715638,
 -0.014931105,
 0.018907536,
 0.013579639,
 0.015229987,
 -0.01998611,
 -0.03472229,
 0.0102594495,
 0.029238457,
 -0.029758252,
 -0.025742836,
 -0.025119083,
 -0.013865526,
 -0.02252011,
 -0.0018387741,
 0.0023244573,
 0.024586294,
 0.008745547,
 0.040180136,
 0.021038694,
 -0.027445165,
 0.018335762,
 -0.0011882184,
 0.007589004,
 -0.00023309547,
 -0.0081542805,
 0.00029258762,
 -0.0060101273,
 0.01993413,
 0.004808102,
 -0.016269578,
 0.027237248,
 0.005769722,
 -0.030511955,
 0.0054968297,
 0.01998611,
 -0.03298098,
 -0.0027029328,
 -0.014905116,
 0.012910403,
 -0.017231198,
 0.01641252,
 -0.0017169472,
 -0.001816033,
 -0.012527054,
 -0.031265657,
 -0.045482043,
 0.010473865,
 0.0035118635,
 -0.0080048395,
 -0.024664262,
 -0.017153228,
 0.012104721,
 -0.012169695,
 -0.0030684136,
 0.022338182,
 -0.0028994803,
 0.006026371,
 -0.027705062,
 -0.0023569446,
 0.024794212,
 -0.01937535,
 -0.015489885,
 -0.017828962,
 -0.020427935,
 -0.0068028145,
 -0.009388793,
 -0.008849506,
 -0.0054221093,
 0.00483734,
 0.012078731,
 0.022650057,
 0.013904511,
 0.034280468,
 -0.010239958,
 0.015216992,
 0.021922346,
 0.0143723255,
 0.010675286,
 -0.008342707,
 -0.00362232,
 4.192876e-05,
 -0.0033396815,
 -0.019154439,
 0.0022464881,
 -0.01322228,
 0.00823225,
 -0.017997894,
 0.017686017,
 -0.014086439,
 -0.00017837489,
 -0.0036775481,
 -0.016893331,
 0.019154439,
 0.0011679139,
 -0.014983085,
 -0.003804248,
 -0.014203393,
 0.015970696,
 0.024027513,
 -0.0003065977,
 0.016620439,
 -0.03422849,
 0.002332579,
 0.02793897,
 -0.050238166,
 0.021259608,
 0.0077774297,
 -0.011208075,
 -0.009531737,
 0.009960568,
 -0.00896646,
 0.01843972,
 0.0040446534,
 0.013085834,
 -0.031135708,
 0.0042850585,
 -0.019817177,
 0.008238748,
 -4.6801837e-05,
 -0.007673471,
 -0.023572695,
 -0.0106492955,
 0.011058634,
 -0.022091279,
 0.021922346,
 -0.02994018,
 -0.014073444,
 0.017802972,
 0.010525844,
 0.027653083,
 -0.0059711426,
 0.025145072,
 -0.032071337,
 -0.0073875836,
 0.011441983,
 -0.028666683,
 -0.023520714,
 -0.009577219,
 0.02804293,
 0.038516793,
 0.039400443,
 0.011903301,
 0.011545942,
 -0.011325029,
 -0.002839379,
 0.005555307,
 0.009941075,
 0.009934578,
 -0.035424016,
 0.023117874,
 0.0010696403,
 -0.0039536892,
 0.018881546,
 -0.006958753,
 0.015801761,
 0.014866131,
 0.018231802,
 -0.007634486,
 -0.0028702419,
 0.0024706495,
 -0.006503932,
 0.0023293304,
 0.0001190858,
 0.0056625144,
 -0.034566354,
 -0.00026700395,
 0.023897566,
 0.0195053,
 -0.0086415885,
 0.008907983,
 0.014502275,
 0.005119979,
 0.03506016,
 -0.004031658,
 0.005441602,
 -0.018634643,
 -0.009707168,
 -0.02441736,
 -0.008596106,
 -0.0053993682,
 -0.00036304418,
 0.009876101,
 -0.004918558,
 -0.005529317,
 -0.0015723793,
 0.03095378,
 0.008843008,
 -0.00600363,
 0.0086415885,
 -0.011156096,
 -0.01681536,
 -0.024911165,
 -0.019219412,
 -0.042207338,
 -0.0073421015,
 -0.0018663881,
 0.0003618259,
 0.011260055,
 -0.021285597,
 -0.023975534,
 -0.0072056553,
 -0.017893936,
 0.041427646,
 0.025249032,
 0.02679542,
 0.017725002,
 -0.008972958,
 -0.0088884905,
 0.0026087202,
 -0.020739812,
 0.0028588714,
 0.022624068,
 0.0041908454,
 0.01491811,
 0.0053668814,
 -0.0020207022,
 -0.0071601733,
 -0.025521925,
 -0.045819912,
 -0.009954071,
 -0.016867341,
 0.006978245,
 -0.021688437,
 -0.0073875836,
 0.0016365414,
 0.024560304,
 -0.0058346963,
 0.008667578,
 -0.0084466655,
 -0.02084377,
 -0.012786952,
 0.011805839,
 -0.010831224,
 0.009648691,
 -0.01598369,
 -0.0056852554,
 0.010571326,
 -0.0074785477,
 -0.0037035379,
 -0.0047203866,
 -0.016659424,
 0.020310981,
 -0.0069652502,
 0.0074005784,
 0.03186342,
 0.017127238,
 -0.013800552,
 -0.002979074,
 0.025314007,
 0.026353596,
 -0.024911165,
 -0.015801761,
 -0.0062765223,
 0.0054708403,
 0.01339771,
 -0.0033250623,
 -0.026613493,
 -0.021779401,
 -0.016048664,
 -0.013553649,
 0.022728028,
 0.02682141,
 0.014151413,
 -0.007894384,
 -0.010616808,
 -0.013488675,
 -0.013332737,
 -0.0085441265,
 -0.009024937,
 -0.018634643,
 -0.013800552,
 -0.0024235433,
 0.015684808,
 0.016906325,
 -0.009174378,
 -0.008933973,
 -0.005438353,
 0.029706271,
 -0.004895817,
 -0.0027646585,
 -0.024690252,
 0.0028133893,
 -0.02788699,
 -0.009817624,
 -0.0029855713,
 -0.008979455,
 0.032591134,
 -0.020414941,
 -0.023390766,
 0.018244797,
 -0.008076312,
 -0.0012475075,
 0.004116125,
 0.0001394918,
 -0.0038009994,
 -0.009141891,
 -0.0069262655,
 -0.02097372,
 -0.017621044,
 -0.0010753254,
 -0.0049153096,
 -0.0052336836,
 0.018361751,
 -0.0028345059,
 0.042467233,
 -0.014060449,
 0.021298591,
 0.006978245,
 -0.02337777,
 -0.03620371,
 -0.0048925686,
 -0.0068353014,
 -0.004658661,
 0.007933368,
 -0.022741022,
 -0.024742233,
 -0.0009932953,
 0.023949545,
 -0.0074785477,
 0.008368696,
 0.004142115,
 0.02895257,
 0.01504806,
 0.018699618,
 -0.0008414178,
 -0.023156857,
 -0.003065165,
 -0.040128157,
 -0.029732263,
 -0.029654292,
 -0.0014919735,
 0.007965855,
 0.0036840455,
 -0.010928686,
 -0.013839536,
 -0.0045027225,
 -0.031733472,
 -0.0006290329,
 -0.024690252,
 0.016178614,
 0.022247218,
 -0.005529317,
 0.009603209,
 0.012955885,
 0.0007683217,
 0.015502879,
 -1.2385735e-05,
 -0.004447494,
 -0.009382296,
 -0.0040641455,
 0.008037327,
 0.017088253,
 -0.025041115,
 -0.031187687,
 0.02702933,
 -0.004941299,
 -0.0048340918,
 0.021246612,
 -0.007900881,
 0.0030667894,
 -0.032617122,
 0.022156253,
 -0.004463738,
 0.004392266,
 0.030537944,
 -0.0050550043,
 -0.00871306,
 -0.013709588,
 -0.015087044,
 -0.0038692225,
 -0.021259608,
 -0.005548809,
 -0.00511673,
 0.013943495,
 -0.028068919,
 -0.017737998,
 -0.041323684,
 0.0013100454,
 0.016867341,
 0.0131962905,
 0.019700222,
 -0.0030294291,
 0.008134789,
 0.0018501446,
 -0.027185267,
 -0.0032243521,
 0.011669393,
 -0.00027228313,
 -0.010733763,
 -0.012955885,
 0.009837116,
 -0.0053181504,
 0.0004328916,
 -0.018127844,
 -0.0005007086,
 0.0047658687,
 0.015918715,
 -0.03690543,
 0.03199337,
 -0.0069652502,
 -0.03084982,
 0.008946968,
 0.0062505323,
 -0.01633455,
 -0.0009843614,
 -0.012760962,
 0.0051882016,
 -0.0316555,
 -0.016698407,
 -0.009570722,
 -0.014203393,
 -0.0072966195,
 0.011617414,
 0.0005441602,
 -0.017893936,
 0.004096633,
 0.20500706,
 -0.040258106,
 0.008329712,
 0.014255372,
 0.0011134979,
 0.015905721,
 0.032149307,
 0.009044429,
 -0.016295567,
 0.005158963,
 -0.0014343087,
 0.030122109,
 0.02778303,
 0.0026135931,
 -0.017919926,
 -0.03282504,
 -0.011961778,
 -0.02801694,
 -0.017348152,
 -0.0068223067,
 0.01838774,
 -0.016880335,
 -0.0016381658,
 -0.025755832,
 0.015463895,
 -0.012533552,
 -0.026613493,
 -0.009440773,
 0.011454978,
 0.022754017,
 -0.0041356175,
 -0.030511955,
 -0.019622253,
 -0.012325634,
 -0.030615913,
 -0.0046976455,
 0.002517756,
 0.005045258,
 0.02252011,
 0.006809312,
 -0.0123126395,
 0.023091884,
 0.012988373,
 -0.010980665,
 0.0017283177,
 0.025132079,
 ...]

In [20]:
len(response[0].vector)

1536

In [21]:
# 가져온 임베딩 벡터와 거리가 가까운 (유사도이 높은) 벡터의 movie Id 6개를 가져옵니다.
results = client.query_points(
    collection_name="movie_emb_kr",
    query=response[0].vector, # 위에서구한 토이 스토리의 줄거리 벡터를 입력합니다.
    limit=6
)
results

QueryResponse(points=[ScoredPoint(id=1, version=0, score=1.0, payload={}, vector=None, shard_key=None, order_value=None), ScoredPoint(id=78499, version=147, score=0.9565859, payload={}, vector=None, shard_key=None, order_value=None), ScoredPoint(id=201588, version=589, score=0.9490068, payload={}, vector=None, shard_key=None, order_value=None), ScoredPoint(id=3114, version=30, score=0.9398309, payload={}, vector=None, shard_key=None, order_value=None), ScoredPoint(id=274197, version=806, score=0.90922785, payload={}, vector=None, shard_key=None, order_value=None), ScoredPoint(id=106022, version=203, score=0.9070248, payload={}, vector=None, shard_key=None, order_value=None)])

In [22]:
# 데이터 포인트를 가져옵니다.
# id: movie_id, score = 유사도 점수
results.points

[ScoredPoint(id=1, version=0, score=1.0, payload={}, vector=None, shard_key=None, order_value=None),
 ScoredPoint(id=78499, version=147, score=0.9565859, payload={}, vector=None, shard_key=None, order_value=None),
 ScoredPoint(id=201588, version=589, score=0.9490068, payload={}, vector=None, shard_key=None, order_value=None),
 ScoredPoint(id=3114, version=30, score=0.9398309, payload={}, vector=None, shard_key=None, order_value=None),
 ScoredPoint(id=274197, version=806, score=0.90922785, payload={}, vector=None, shard_key=None, order_value=None),
 ScoredPoint(id=106022, version=203, score=0.9070248, payload={}, vector=None, shard_key=None, order_value=None)]

In [23]:
[i.id for i in results.points[1:]]

[78499, 201588, 3114, 274197, 106022]

In [24]:
# 영화 줄거리에 대한 openAI embedding을 통한 수치화 정보를 불러 옵니다.
with open('dataset/tmdb_movie_emb.pkl', 'rb') as f:
    dic_movie_emb = pickle.load(f)
dic_movie_emb[1] # movieId = 1(Toy Story)의 줄거리 수치화 정보입니다.

array([-0.0131833 , -0.04171353, -0.01378756, ...,  0.01245558,
       -0.0124166 , -0.02548294])

In [25]:
s_dist = pd.Series({
     k: np.dot(dic_movie_emb[1], v) / (np.linalg.norm(dic_movie_emb[1]) * np.linalg.norm(v)) for k, v in dic_movie_emb.items()
})
s_dist.sort_values(ascending = False).iloc[:11]

1         1.000000
78499     0.956586
201588    0.949007
3114      0.939831
274197    0.909228
106022    0.907025
191401    0.895358
120474    0.893202
108932    0.878713
262009    0.872319
124927    0.871216
dtype: float64

In [26]:
# 영화 DB에서 유사도 점수가 높다고 뽑힌 영화의 내용을 가져옵니다.
get_movies([i.id for i in results.points[1:]])

,movie_id,movie_title,original_language,original_title,poster_path,overview,series_id,release_date,runtime,tagline,imdb_id,adult,useyn,regtime
0,3114,토이 스토리 2,en,Toy Story 2,/gXUNsdIIn6NiEBvh8Mq6gjgVPm0.jpg,앤디가 카우보이 캠프에 간 동안 앤디의 어머니는 벼룩 시장을 열고 앤디의 장난감 중...,1,1999-10-30,94,무한한 도전과 꿈의 세계로,tt0120363,N,Y,None
1,78499,토이 스토리 3,en,Toy Story 3,/hbUWahBLUon8RaIb9Tq7aWCBCtS.jpg,모든 장난감들이 겪는 가장 슬픈 일은 바로 주인이 성장해 더이상 자신들과 놀아주지 ...,1,2010-06-16,102,전세계가 감동한 가장 위대한 탈출,tt0435761,N,Y,None
2,106022,토이 스토리: 공포의 대탈출,en,Toy Story of Terror!,/oPBEnNP4Fg4gv9c0KBhchmtoG4H.jpg,보니와 보니 엄마는 할머니 집에 가기 위해 트렁크 안에 보니의 장난감과 짐을 싣고 ...,0,2013-10-16,22,None,tt2446040,N,Y,None
3,201588,토이 스토리 4,en,Toy Story 4,/9P8IX4UyH3QFLL4MV6GZyuOB7Ue.jpg,앤디와 작별한 우디는 새로운 주인 보니와의 생활에 적응 중이다. 보니는 처음 간 유...,1,2019-06-19,100,우리의 여행은 아직 끝나지 않았다,tt1979376,N,Y,None
4,274197,버즈 라이트이어,en,Lightyear,/KJjJSbdThql8dMtwswseCvPF4h.jpg,"나, 버즈 라이트이어. 인류 구원에 필요한 자원을 감지하고 현재 수많은 과학자들과 ...",0,2022-06-15,105,"우주 저 너머 운명을 건 미션, 무한한 모험이 시작된다",tt10298810,N,Y,None

## Task 2

VectorDB에 movie_emb_kr에 있는 줄거리 임베딩 벡터를 이용하여, 

주어진 영화 벡터와 근거리 영화를 뽑아 추천합니다.

### Content의 메타 데이터를 기반 추천

In [27]:
def vector_rcmd(movieId, num = 10):
    movieId = int(movieId)
    # movieId의 영화 줄거리 벡터를 가져옵니다.
    response = client.retrieve(
        collection_name="movie_emb_kr",
        with_vectors = True,
        ids=[movieId]   # 리스트 형태로 ID 전달
    )
    # 조회가 되지 않은 영화는 임의의 영화정보로 반환합니다.
    if len(response) == 0:
        return np.random.choice(s_movieId, 10)
    results = client.query_points(
        collection_name="movie_emb_kr",
        query=response[0].vector,
        limit=num + 1
    )
    # 가장 근거리에 있는 영화는 질의한 벡터와 동일한 내용이며, 이를 제외하기 위 해
    # 두 번째 부터 movieId를 반환합니다.
    return [i.id for i in results.points[1:]]

In [28]:
get_movies(vector_rcmd(1))

,movie_id,movie_title,original_language,original_title,poster_path,overview,series_id,release_date,runtime,tagline,imdb_id,adult,useyn,regtime
0,3114,토이 스토리 2,en,Toy Story 2,/gXUNsdIIn6NiEBvh8Mq6gjgVPm0.jpg,앤디가 카우보이 캠프에 간 동안 앤디의 어머니는 벼룩 시장을 열고 앤디의 장난감 중...,1,1999-10-30,94,무한한 도전과 꿈의 세계로,tt0120363,N,Y,None
1,78499,토이 스토리 3,en,Toy Story 3,/hbUWahBLUon8RaIb9Tq7aWCBCtS.jpg,모든 장난감들이 겪는 가장 슬픈 일은 바로 주인이 성장해 더이상 자신들과 놀아주지 ...,1,2010-06-16,102,전세계가 감동한 가장 위대한 탈출,tt0435761,N,Y,None
2,106022,토이 스토리: 공포의 대탈출,en,Toy Story of Terror!,/oPBEnNP4Fg4gv9c0KBhchmtoG4H.jpg,보니와 보니 엄마는 할머니 집에 가기 위해 트렁크 안에 보니의 장난감과 짐을 싣고 ...,0,2013-10-16,22,None,tt2446040,N,Y,None
3,108932,레고 무비,en,The Lego Movie,/6jpIioQUPX0laOuaPP8uIl16lyi.jpg,"배트맨, 슈퍼맨, 원더우먼, 인어공주, 초록닌자, 1980몇년 우주인, 미켈란젤로,...",1436,2014-02-06,100,세상의 모든 영웅들이 '레고'로 조립된다!,tt1490017,N,Y,None
4,120474,토이 스토리: 공룡 전사들의 도시,en,Toy Story That Time Forgot,/q1ZCmu1H2BNCtSrM7jeS2O4ycXz.jpg,크리스마스에 보니를 따라 메이슨의 집으로 가게 된 우디와 버즈 그리고 토이 친구들....,0,2014-12-02,22,상상력은 아이들이 가진 최고의 장난감!!,tt3473654,N,Y,None
5,124927,다락방의 토이 스토리,cs,Na půdě aneb Kdo má dneska narozeniny?,/hcNrx01ito7GQkNc2UeMrSxfwHq.jpg,어느 집 다락방에서 행복하게 살아가는 장난감들이 있다. 스페인 꼭두각시 인형 ‘핸...,0,2009-03-05,78,버려진 장난감과 장식품으로 가득 찬 오래된 다락방에서의 환상적이고 비밀스런 세계.,tt1342403,N,Y,None
6,191401,우주 전사 버즈,en,Buzz Lightyear of Star Command: The Adventure ...,/3IXeVITL3FJ9CKpBK7lzULuw8Ts.jpg,전투에서 파트너 워프를 잃은 버즈는 다시는 동료를 위험에 빠뜨리지 않겠다고 결심한다...,0,2000-08-08,70,None,tt0181196,N,Y,None
7,201588,토이 스토리 4,en,Toy Story 4,/9P8IX4UyH3QFLL4MV6GZyuOB7Ue.jpg,앤디와 작별한 우디는 새로운 주인 보니와의 생활에 적응 중이다. 보니는 처음 간 유...,1,2019-06-19,100,우리의 여행은 아직 끝나지 않았다,tt1979376,N,Y,None
8,262009,Toys,en,Toys,None,None,0,1966-01-01,8,None,tt0206357,N,Y,None
9,274197,버즈 라이트이어,en,Lightyear,/KJjJSbdThql8dMtwswseCvPF4h.jpg,"나, 버즈 라이트이어. 인류 구원에 필요한 자원을 감지하고 현재 수많은 과학자들과 ...",0,2022-06-15,105,"우주 저 너머 운명을 건 미션, 무한한 모험이 시작된다",tt10298810,N,Y,None

In [29]:
evaluate(df_ratings_3000, vector_rcmd)

100%|███████████████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:30<00:00, 99.95it/s]

np.float64(0.06833333333333333)

## Task 3

Series와 Vector를 합친 로직을 만들어 봅니다.

Series의 수가 10개가 안되는 만큼은 영화 벡터를 이용하여 추천합니다.

In [30]:
def series_vector_rcmd(movieId):
    movieId = int(movieId)
    s = get_rows("SELECT series_id FROM movie WHERE movie_id = :movie_id", {'movie_id': movieId})
    if len(s) == 0:
        return np.random.choice(s_movieId, 10)
    series_id = int(s.loc['series_id'].iloc[0])
    if series_id > 0:
        series_list = get_rows(
            "SELECT * FROM movie WHERE series_id = :series_id AND movie_id <> :movie_id ORDER BY release_date DESC",
            {'series_id': series_id, 'movie_id': movieId}
        )
        if series_list.shape[1] == 14:
            series_list = series_list['movie_id'].tolist() # 영화가 2개 이상일 때
        elif series_list.shape[1] == 1:
            series_list = [series_list.loc['movie_id'].iloc[0]] # 영화가 1개 일 때
        else:
            series_list = list()
    else:
        series_list = list()
    # 10개 미만일 경우 줄거리 벡터를 이용한 추천을 수행합니다.
    return (series_list + [i for i in vector_rcmd(movieId, 10) if i not in series_list])[:10] if len(series_list) < 10 else series_list

In [31]:
get_movies(series_vector_rcmd(1))

,movie_id,movie_title,original_language,original_title,poster_path,overview,series_id,release_date,runtime,tagline,imdb_id,adult,useyn,regtime
0,3114,토이 스토리 2,en,Toy Story 2,/gXUNsdIIn6NiEBvh8Mq6gjgVPm0.jpg,앤디가 카우보이 캠프에 간 동안 앤디의 어머니는 벼룩 시장을 열고 앤디의 장난감 중...,1,1999-10-30,94,무한한 도전과 꿈의 세계로,tt0120363,N,Y,None
1,78499,토이 스토리 3,en,Toy Story 3,/hbUWahBLUon8RaIb9Tq7aWCBCtS.jpg,모든 장난감들이 겪는 가장 슬픈 일은 바로 주인이 성장해 더이상 자신들과 놀아주지 ...,1,2010-06-16,102,전세계가 감동한 가장 위대한 탈출,tt0435761,N,Y,None
2,106022,토이 스토리: 공포의 대탈출,en,Toy Story of Terror!,/oPBEnNP4Fg4gv9c0KBhchmtoG4H.jpg,보니와 보니 엄마는 할머니 집에 가기 위해 트렁크 안에 보니의 장난감과 짐을 싣고 ...,0,2013-10-16,22,None,tt2446040,N,Y,None
3,108932,레고 무비,en,The Lego Movie,/6jpIioQUPX0laOuaPP8uIl16lyi.jpg,"배트맨, 슈퍼맨, 원더우먼, 인어공주, 초록닌자, 1980몇년 우주인, 미켈란젤로,...",1436,2014-02-06,100,세상의 모든 영웅들이 '레고'로 조립된다!,tt1490017,N,Y,None
4,120474,토이 스토리: 공룡 전사들의 도시,en,Toy Story That Time Forgot,/q1ZCmu1H2BNCtSrM7jeS2O4ycXz.jpg,크리스마스에 보니를 따라 메이슨의 집으로 가게 된 우디와 버즈 그리고 토이 친구들....,0,2014-12-02,22,상상력은 아이들이 가진 최고의 장난감!!,tt3473654,N,Y,None
5,124927,다락방의 토이 스토리,cs,Na půdě aneb Kdo má dneska narozeniny?,/hcNrx01ito7GQkNc2UeMrSxfwHq.jpg,어느 집 다락방에서 행복하게 살아가는 장난감들이 있다. 스페인 꼭두각시 인형 ‘핸...,0,2009-03-05,78,버려진 장난감과 장식품으로 가득 찬 오래된 다락방에서의 환상적이고 비밀스런 세계.,tt1342403,N,Y,None
6,191401,우주 전사 버즈,en,Buzz Lightyear of Star Command: The Adventure ...,/3IXeVITL3FJ9CKpBK7lzULuw8Ts.jpg,전투에서 파트너 워프를 잃은 버즈는 다시는 동료를 위험에 빠뜨리지 않겠다고 결심한다...,0,2000-08-08,70,None,tt0181196,N,Y,None
7,201588,토이 스토리 4,en,Toy Story 4,/9P8IX4UyH3QFLL4MV6GZyuOB7Ue.jpg,앤디와 작별한 우디는 새로운 주인 보니와의 생활에 적응 중이다. 보니는 처음 간 유...,1,2019-06-19,100,우리의 여행은 아직 끝나지 않았다,tt1979376,N,Y,None
8,262009,Toys,en,Toys,None,None,0,1966-01-01,8,None,tt0206357,N,Y,None
9,274197,버즈 라이트이어,en,Lightyear,/KJjJSbdThql8dMtwswseCvPF4h.jpg,"나, 버즈 라이트이어. 인류 구원에 필요한 자원을 감지하고 현재 수많은 과학자들과 ...",0,2022-06-15,105,"우주 저 너머 운명을 건 미션, 무한한 모험이 시작된다",tt10298810,N,Y,None

In [32]:
evaluate(df_ratings_3000, series_vector_rcmd)

100%|███████████████████████████████████████████████████████████████████████████████████████| 3000/3000 [00:52<00:00, 56.71it/s]

np.float64(0.068)

# 콘텐츠 기반 (Content Based Recommendation) 정리

- DB에 담겨 있는 메타 데이터를 기반으로 동일 그룹에 있는 아이템 위주로 추천합니다.

- 아이템의 내용을 나타내는 임베딩 벡터를 만들고, 이를 이용하여 근거리에 있는 아이템들을 골라 추천합니다.